In [1]:
import pandas as pd
import numpy as np
import json
import os

### Total Number of users

In [2]:
summary_table = []

In [3]:
counters = json.load(open("../data/counter.json",'r'))

In [4]:
summary_table.append(("Total # of users",counters['last id completed']))
summary_table.append(("# of private users",counters['Number of private profiles']))
summary_table.append(("# of deleted users",counters['Number of user not found profiles']))
summary_table.append(("# of public users",counters['Number of public profiles']))
summary_table.append(("# of commitments",counters['Number of completed commitments']))

In [5]:
pd.DataFrame(summary_table,columns=['Head','Count'])

                 Head   Count
0    Total # of users  595852
1  # of private users   41525
2  # of deleted users   37067
3   # of public users  517260
4    # of commitments  316977